<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="css/master.css")

        link(rel="stylesheet", href="../node_modules/cropperjs/dist/cropper.min.css")
        script(src="js/main.js" type="module")
        title terrain from sketch
    body
        btn#cropconfirm.active Crop
        #cropper.active
            img#display
        canvas#steps